<h1>Angular</h1>
<h2>Routing App</h2>
<nav class="navbar navbar-light bg-light">
    <button routerLink="/" routerLinkActive="active" class="btn btn-outline-success" type="button">home</button>
    <button routerLink="/departments" routerLinkActive="active" class="btn btn-outline-success" type="button">Departments</button>
    <button routerLink="/employees" routerLinkActive="active" class="btn btn-sm btn-outline-secondary" type="button">Departments </button>
</nav>
<router-outlet></router-outlet>


